body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: none;
  border: none;
}

ul {
  list-style: none;
}

footer {
  padding-bottom: 40px;
}
